<div class="container" *ngIf="product">
    <mat-card>
        <mat-card-title>
            <h2>{{ product.name }}</h2>
        </mat-card-title>
        <mat-card-content>
            <p>{{ product.description }}</p>
            <p>ID {{ product.id }}</p>
            <p>Created at {{ product.date_created | date:'short' }}</p>
            <p>Updated at {{ product.date_updated | date:'short' }}</p>

            <mat-form-field class="full-width" appearance="fill" *ngIf="authService.user">
                <mat-label>Name</mat-label>
                <input required matInput type="text" placeholder="Enter the name to delete it" [(ngModel)]="title">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions *ngIf="authService.user">
            <button mat-flat-button mat-button color="primary" (click)="onCancel()">Cancel</button>
            <button mat-button color="primary" [disabled]="title != product.name"
                (click)="onDelete(product)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>