<div class="container">
    <h1 #pageTitle>Angular</h1>

    <aw-tags [max]="20"></aw-tags>

    <aw-blog></aw-blog>

    <div class="cards">
        <aw-card title="titre 1">
            <header><h3>Mon Header</h3></header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dolor.</p>
            <footer><h3>Mon Footer</h3></footer>
        </aw-card>

        <aw-card title="titre 2">
            <div class="header"></div>
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>

        <aw-card title="titre 2">
            <div class="header"></div>
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>
        <aw-card title="titre 2">
            <div class="header"></div>
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>
        <aw-card title="titre 2">
            <div class="header"></div>
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>
    </div>
</div>
