.container {
    padding: 0;
    position: relative;

    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
}

.card {
    width: 460px;
    padding: 40px;

    form {
        display: flex;
        flex-direction: column;
    }
}