<div class="blog-form">
    <input type="text" class="blog-form__title" placeholder="Saisissez un titre" [(ngModel)]="article.title">

    <textarea [maxLength]="max"
            class="blog-form__text"
            [ngClass]="{'blog-form__error': article.text.length === max}"
            cols="30"
            rows="5"
            [(ngModel)]="article.text" placeholder="Rédigez votre article"></textarea>

    <div class="blog-form__counter">{{ article.text.length }}/{{ max }}</div>

    <button (click)="post()" class="btn btn__primary" [disabled]="article.title.length == 0 || article.text.length == 0">Ajouter</button>
</div>
