.blog-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    &__title,
    &__text {
        border-style: solid;
        border-width: 1px;
        border-color: #888;
        border-radius: 5px;
        padding: 5px;
        font: inherit;
        outline: none;
    }

    &__error {
        border-color: red;
    }
}
